@model ZibalPay.Data.Entities.Users.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
